/* Custom Properties */
:root {
    --default-font: 1rem;
    --small-spacing: 15px;
    --padding: 15px;
    --border-radius: 20px;
}

/* General */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: var(--default-font);
}

body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button:hover {
    pointer-events: grab;
}

#gridCont {
    background-color: bisque;
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 3px solid black;
}

/* Name Menu */
form {
    display: flex;
    flex-direction: column;
}

/* Ship placement menu */
.ship-placement-cont {
}

.hover {
    background-color: rgba(34, 189, 78, 0.6);
}

.selected {
    background-color: aquamarine;
}
/* Game menu */
#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    background-color: aqua;

    flex-grow: 1;
    height: 500px;
    width: 500px;
}

.name-cont {
    display: flex;
    justify-content: space-between;
    width: 1015px; /*Change this when resizing grid sizes*/
}

.player-grid-cont {
    display: flex;
    gap: var(--small-spacing);
}

#gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.grid-item:hover {
    cursor: grab;
}

.circle-miss {
    background-color: grey;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.circle-hit {
    background-color: red;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

/* Game over screen */
.shader {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.gameOverCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: cyan;
    border-radius: var(--border-radius);
    position: fixed;
    top: 30%;
    left: 50%;
    width: 25%;
    height: 15%;
    margin-left: -12.5%;
    z-index: 2;
}
