@font-face {
    font-family: 'tipografia';
    src: url('./assests/tipografia.ttf');
}

@font-face {
    font-family: 'am';
    src: url('./assests/Amagro-bold.ttf');
}

/* Custom Properties */
:root {
    --default-font: 1rem;
    --small-spacing: 15px;
    --large-spacing: 30px;
    --small-padding: 15px;
    --large-padding: 50px;
    --border-radius: 20px;
    --white: rgb(255, 253, 250);
}

/* CSS reset and general rules */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'am', 'tipografia', sans-serif, 'Times New Roman', Times, serif;
    font-size: var(--default-font);
}

html {
    height: 100vh;
    background: url('./assests/old-concrete-texture-with-blue-paint.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: var(--small-spacing);
}

header p {
    font-size: 3rem;
    padding: var(--small-padding);

    border: 3px solid var(--white);
    border-radius: var(--border-radius);
    color: var(--white);
    background-color: rgb(0, 0, 0, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

footer {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--white);
}

button:hover {
    cursor: grab;
}

#gridCont {
    background-color: bisque;
    padding: var(--small-padding);
    border-radius: var(--border-radius);
    border: 3px solid black;
}

/* Name Menu */
form {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--white);
    border-radius: var(--border-radius);
    padding: var(--large-padding);
    color: var(--white);
    background-color: rgb(0, 0, 0, 0.3);
}

.start-btn {
    margin-top: var(--large-spacing);
    width: 50%;
}

.start-btn-cont {
    display: flex;
    justify-content: center;
}

/* Ship placement menu */
.ship-placement-cont {
}

.hover {
    background-color: rgba(34, 189, 78, 0.6);
}

.selected {
    background-color: aquamarine;
}
/* Game menu */
#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    background-color: aqua;

    flex-grow: 1;
    height: 500px;
    width: 500px;
}

.name-cont {
    display: flex;
    justify-content: space-between;
    width: 1015px; /*Change this when resizing grid sizes*/
}

.player-grid-cont {
    display: flex;
    gap: var(--small-spacing);
}

#gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.grid-item:hover {
    cursor: grab;
}

.circle-miss {
    background-color: grey;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.circle-hit {
    background-color: red;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

/* Game over screen */
.shader {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.gameOverCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: cyan;
    border-radius: var(--border-radius);
    position: fixed;
    top: 30%;
    left: 50%;
    width: 25%;
    height: 15%;
    margin-left: -12.5%;
    z-index: 2;
}
