@font-face {
    font-family: 'tipografia';
    src: url('./assests/tipografia.ttf');
}

@font-face {
    font-family: 'am';
    src: url('./assests/Amagro-bold.ttf');
}

@keyframes popout {
    from {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes popout {
    from {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 1%;
    }
    to {
        opacity: 100%;
    }
}

/* Custom Properties */
:root {
    --default-font: 1rem;
    --small-spacing: 15px;
    --large-spacing: 30px;
    --button-paddng: 3px 20px;
    --small-padding: 15px;
    --large-padding: 50px;
    --border-radius: 20px;
    --white: rgb(255, 253, 250);
    --black: rgb(7, 6, 6);
    --blue: rgb(61, 61, 206);
    --grey: #b3b1af;
    --red: #9f271e;
}

/* CSS reset and general rules */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'am', 'tipografia', sans-serif, 'Times New Roman', Times, serif;
    font-size: var(--default-font);
}

html {
    height: 100vh;
}

#selectionMenu {
    background: url('./assests/old-concrete-texture-with-blue-paint.jpg') no-repeat center center fixed;
    background-size: cover;
}

#gameMenu {
    background: url('./assests/3200146.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: var(--small-spacing);
}

.header-text-selection {
    font-size: 4rem;
    padding: var(--small-padding);
    border: 3px solid var(--white);
    border-radius: var(--border-radius);
    color: var(--white);
    background-color: rgb(0, 0, 0, 0.3);
}

.header-text-game {
    font-size: 4rem;
    padding: var(--small-padding);
    border: 3px solid var(--blue);
    border-radius: var(--border-radius);
    color: var(--white);
    background: rgb(0, 0, 0, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-spacing);
    height: 80vh;
}

footer {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--white);
}

button {
    width: fit-content;
    padding: var(--button-paddng);
    border-radius: var(--border-radius);
}

button:hover {
    cursor: grab;
}

#container {
    background-color: rgb(0, 0, 0, 0.3);
    padding: var(--small-padding);
    border-radius: var(--border-radius);
    border: 3px solid var(--blue);
}

.faded-in {
    animation: fadeIn ease 3s;
}

/* Name Menu */
form {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--white);
    border-radius: var(--border-radius);
    padding: var(--large-padding);
    color: var(--white);
    background-color: rgb(0, 0, 0, 0.3);
    margin-bottom: 150px;
}

.start-btn {
    margin-top: var(--large-spacing);
    width: 50%;
    border: 3px solid var(--white);
    background: rgb(0, 0, 0, 0.3);
    color: var(--white);
}

.start-btn-cont {
    display: flex;
    justify-content: center;
}

/* Ship placement menu */
.ship-placement-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--small-spacing);
}

.hover {
    background-color: rgba(34, 189, 78, 0.6);
}

.selected {
    background-color: aquamarine;
}

.ship-place-text {
    font-size: 1.5rem;
    color: var(--white);
}

.placement-message {
    text-align: center;
    padding: var(--small-padding);
}

.reset-btn,
.rotate-btn {
    border: 3px solid var(--blue);
    color: var(--white);
    background: rgb(0, 0, 0, 0.3);
}
/* Game menu */
#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    background-color: var(--blue);
    border: 3px solid var(--black);

    flex-grow: 1;
    height: 500px;
    width: 500px;
}

.name-cont {
    display: flex;
    justify-content: space-between;
    width: 1015px; /*Change this when resizing grid sizes*/
}

.name {
    color: var(--white);
    font-size: 1.2rem;
}

.player-grid-cont {
    display: flex;
    gap: var(--small-spacing);
}

#gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.grid-item:hover {
    cursor: grab;
}

.circle-miss {
    background-color: var(--grey);
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.circle-hit {
    background-color: var(--red);
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

/* Game over screen */
.shader {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.gameOverCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--small-spacing);
    background: var(--black);
    color: var(--white);
    border-radius: var(--border-radius);
    border: 3px solid var(--blue);
    position: fixed;
    top: 30%;
    left: 50%;
    width: 25%;
    height: 15%;
    margin-left: -12.5%;
    z-index: 2;

    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
